<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImage}}" alt="..." /></div>
            <div class="col-md-6">
               
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration"><b>Price:</b> {{pdata.price}}</span>
                    
                </div>
                <p class="lead"><b>Ram:</b>{{pdata.ram}}</p>
                <p class="lead"><b>Storage:</b>{{pdata.storage}}</p>
                <p class="lead"><b>Processor:</b>{{pdata.processor}}</p>
                <p class="lead"><b>Description:</b>{{pdata.description}}</p>
                <p class="lead"><b>Review:</b>{{pdata.review}}</p>
                <div class="d-flex">
                    <button class="btn btn-dark flex-shrink-0" type="button">
                        <a style="text-decoration: none;color: white;" href="product/edit/{{pdata.id}}">
                        EDIT
                        </a>
                    </button>
                    <button (click)="deleteProduct()" class="btn btn-dark flex-shrink-0" type="button">
                        <a style="text-decoration: none;color: white;">
                        DELETE
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
